*{
	font: 13px arial, sans-serif;
}

/* Navbar Styling */

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 6px 0 0;
}

.navr , .navr-link, .navr-menu{
	display: inline-block;

}

a{
	text-decoration: none;
	color: #000000;
}

.navl{
	margin: 7px 0 0 10px;
}

.navl-item, .navr-i,{
	padding: 0 0 0 15px;
}

.navr{
	padding: 0 30px;
}

.navr-link{
	margin: 0 15px 0 0;
	height: 24px;
}

.nav-signin{
	margin-top: -5.5px;
	margin-left: 15px;
	color: #FFFFFF;
	background-color: #4285f4;
	border: none;
	padding: 7.5px 12px;
	border-radius: 2px;
	font-weight: bold;
}

.nav-signin, .menu{
	vertical-align: middle;
}

.navr-i{
	padding: 0 0 0 15px;
}

.navl-item{
	padding: 0 0 0 15px;
}

/*Google Logo*/
.logo{
	margin: 47px 0 0;
	text-align: center;
}

.logo-img{
	padding: 67px 0 0;
	height: 92px;
	width: 272px;
}

/*Search Bar*/
.search{
	text-align: center;
	color: #222222;
	margin-top: 30px;
	
}

.search-bar{
	width: 582px;
	height: 44px;
	margin-right: auto;
	margin-left: auto;
	border: 0.5px solid #e6e6e6;
	border-radius: 30px;
}
.search-img, .search-ip, .search-vc{
	vertical-align: middle;
}

.search-img{
	padding: 0 13px 0 0;
}

.search-ip{
	padding: 0;
	margin: 3px 0 3px 0;
	width: 487px;
	height: 34px;
	border: none;
}

img.search-vc{
	width: 15px;
	height: 20px;
}

.buttons{
	margin-top: 20px;
}

.btn-search, .btn-lucky{
	margin: 11px 4px;
	padding: 0 16px;
	height: 36px;
	border: none;
	background-color: #F2F2F2;
	color: #222222;
	border-radius: 5px;
}

/*Footer*/
.ftr{
	display: flex;
	justify-content: space-between;
	height: 40px;
	background-color: #F2F2F2;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #5F6368
}

.ftr-l, .ftr-r{
	display: inline-block;
	height: 40px;
	display: flex;
	align-items: center;
}

.ftr-a, .ftr-biz, .ftr-how, .ftr-priv, .ftr-trm{
	padding: 0 0 0 27px;
}

.ftr-stg{
	padding: 0 27px;
}